@using ReserverRideVar01.ViewModel;
@model ProductViewModel;
@{ ViewData["Title"] = "Index";
    Layout = "~/areas/admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Admin panel</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>外島總覽</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p>
                            <a asp-action="create" asp-area="admin">Create New</a>
                        </p>

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Island ID </th>
                                        <th class="column-title">Island Name </th>
                                        <th class="column-title">Island Photo </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="4">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var island in Model.Islands)
                                    {
                                    <tr class="even pointer">
                                        <td class=" ">@island.IslandId</td>
                                        <td class=" ">@island.IslandName</td>
                                        @if (@island.IslandPhoto != null)
                                        {
                                            <td><img src="data:image;base64,@Convert.ToBase64String(island.IslandPhoto)" width="200" /></td>
                                        }
                                        else
                                        {
                                            <td class=" "></td>
                                        }
                                        <td class=" last">
                                            <a asp-action="Edit" asp-route-id="@island.IslandId"><img src="~/images/edit.png" width="20" height="20" /></a> |
                                            <a asp-action="Delete" asp-route-id="@island.IslandId"><img src="~/Images/delete.png" width="20" height="20" /></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
