@model IEnumerable<ReserverRideVar01.ViewModels.CShoppingCartItemViewModel>
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>購物車</h1>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">產品名稱 </th>
                                        <th class="column-title">數量 </th>
                                        <th class="column-title">價格</th>
                                        <th class="column-title">小記</th>
                                        <th class="column-title">產品照片</th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 0;
                                        decimal payment = 0;

                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            payment += item.小計;
                                            <tr class="even pointer">
                                                <td class=" ">@item.product.ProductName</td>
                                                <td class=" ">@item.count</td>
                                                <td class=" ">@item.price</td>
                                                <td class=" ">@item.小計</td>
                                                @if (@item.product.ProductPhoto != null)
                                                {
                                                    <td><img src="data:image;base64,@Convert.ToBase64String(item.product.ProductPhoto)" width="200" /></td>
                                                }
                                                else
                                                {
                                                    <td class=" "></td>
                                                }
                                                <td class=" last">
                                                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr class="even pointer">
                                        <td class=" ">總額:</td>
                                        <td class=" "></td>
                                        <td class=" "></td>
                                        <td class=" ">@payment</td>
                                        <td class=""></td>
                                        <td class="">
                                            @Html.ActionLink("付款", "pay", "pay", new { payment = @payment }, new { @class = "btn btn-secondary rounded" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



