@using ReserverRideVar01.Models;
@model IEnumerable<Product>

<div class="row d-flex">
    @foreach (Product product in Model)
    {
        <div class="col-md-4 d-flex">
            <div class="blog-entry align-self-stretch">
                @if (product.ProductPhoto != null)
                {
                    <a href="#" class="block-20 rounded" style="background-image: url(data:image;base64,@Convert.ToBase64String(product.ProductPhoto));"></a>
                }
                <div class="text mt-3">
                    <div class="meta mb-2">
                        <div><a>產地 : @product.Island.IslandName</a></div>
                    </div>
                    <h3 class="heading">
                        <a>@Html.DisplayFor(modelItem => product.ProductName)</a>
                    </h3>
                    <div><a>NT$ : @product.ProductPrice</a></div>
                    <p>@product.ProductDescription</p>
                    <a>
                        @Html.ActionLink("加入購物車", "AddToCart", "Shopping", new { id = product.ProductId }, new { @class = "btn btn-secondary rounded" })
                    </a>
                </div>
            </div>
        </div>
    }
</div>